<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>thzWeb</display-name>

  <!--配置SpringMvc DispatcherServlet前端控制器-->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
  </servlet>
  <!--servlet映射声明-->
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <!--映射所有请求-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>


